

$primary   : #369FFF;
;
$secondary : #E7F0F7;
;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #2E7D32;
$negative  : #ff6e00;
$info      : #31CCEC;
$warning   : #FF6E002B;
;
